<div class="row">
  <div class="col col-8 col-sm-4 mx-auto text-center">
    <h1 class="my-3">
      Account Login
    </h1>
    <form
      action="/"
      method="POST"
      class="needs-validation"
      id="LoginForm"
      novalidate
    >
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="user1@example.com"
          name="email"
          required
        />
        <div class="valid-feedback">
        </div>
        <div class="invalid-feedback">
          This filed is invaild !
        </div>
      </div>
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Your password"
          name="password"
          required
        />
        <div class="valid-feedback">
        </div>
        <div class="invalid-feedback">
          This filed is invaild !
        </div>
      </div>
      {{#if invalidMsg}}
        <div class="alert alert-success" role="alert">
          <code>{{invalidMsg}}</code>
        </div>
      {{/if}}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>